<div class="container">
    <p class="text-start fs-1 fw-bold">Proyectos</p>
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe commodi temporibus ipsam illo aspernatur doloremque harum, dignissimos veritatis nemo amet ab reiciendis itaque, tempora modi similique expedita perferendis. Porro, ex?</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://028juan.github.io/primer-challenge-one-oracle/">
                <img src="../../../assets/encriptador.png" class="img-fluid">

            </a>

        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Ahorcado</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe commodi temporibus ipsam illo aspernatur doloremque harum, dignissimos veritatis nemo amet ab reiciendis itaque, tempora modi similique expedita perferendis. Porro, ex?</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href=" https://028juan.github.io/challenge-oracle-hangman/">
                <img src="../../../assets/ahorcado.png" class="img-fluid">

            </a>

        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Porfolio</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe commodi temporibus ipsam illo aspernatur doloremque harum, dignissimos veritatis nemo amet ab reiciendis itaque, tempora modi similique expedita perferendis. Porro, ex?</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://028juan.github.io/porfolio-Juan-Carlos/">
                <img src="../../../assets/porfolio.png" class="img-fluid">

            </a>

        </div>




    </div>

</div>

