<p class="text-start fs-1 fw-bold">Educacion
</p>
<div class="container">
    <div class="row g-3">
      <div class="col-12 col-md-6 col-lg-4">
        <img src="../../../assets/alura.jpg" class="card-img-top" id="img" alt="...">
        <div class="card-body">
          <h5 class="fs-4 text-center fw-bold">Curso Front-End y Back-End(2022)</h5>
          <p class="card-text">Principiante en Programacion-Frond-End-Java Orientado a Objetos</p>
        </div>
        
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <img src="../../../assets/conosurtech.png" class="card-img-top" id="img" alt="...">
        <div class="card-body">
          <h5 class="fs-4 text-center fw-bold">Se programar(2022)</h5>
          <p class="card-text">Principiante en Programacion</p>
        </div>
        
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <img src="../../../assets/argprograma.jpg" class="card-img-top" id="img" alt="...">
        <div class="card-body">
          <h5 class="fs-4 text-center fw-bold">Argentina Programa</h5>
          <p class="card-text">primeros pasos de programacion</p>
        </div>
        
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <img src="../../../assets/ipet57.png" class="card-img-top" id="img" alt="...">
        <div class="card-body">
          <h5 class="fs-4 text-center fw-bold">Ipen 57 Com Martin Rivadavia</h5>
          <p class="card-text">Tecnico en Electronica</p>
        </div>
        
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <img src="../../../assets/integralcapacitando.jpg" class="card-img-top" id="img" alt="...">
        <div class="card-body">
          <h5 class="fs-4 text-center fw-bold">Integral Capacitando</h5>
          <p class="card-text">Fundamentos de la Programacion</p>
        </div>
        
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <img src="../../../assets/utnba.png" class="card-img-top" id="img" alt="...">
        <div class="card-body">
          <h5 class="fs-4 text-center fw-bold">universidad tecnologica Nacional Buenos Aires</h5>
          <p class="card-text">Fundamentos de la Programacion</p>
        </div>
        
      </div>
    </div>
   
</div>
