<div class="banner">
    <img  class="img-fluid"src="../../../assets/tecnologia_informacao.jpg" class="img-fluid"alt="">
    

    
</div>


<div class="row container-fluid">
    <div class="col-xs-12 col-sm-5 col-lg-3">
        <img src="../../../assets/fotoperfil.jpg.jpeg" class="img-fluid " id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-7 col-lg-9">
        <p class="fs-1 text-center fw-bold">Alderete Juan Carlos</p>
        <p class="fs-4 text-center fw-bold">Full Stack Developer Jr</p>
        <p class= "fs-4 text-center fw-bold" >Córdoba-Argentina</p>
    </div>
 
</div>
<div class="col-12">
    <p class="text-start fs-1 fw-bold">Sobre Mi</p>
    <p class=" fs-5 text-center">Soy técnico electrónico apasionado por la tecnología y en la actualidad incursiono en el mundo de la programación, esmerandome continuamente en mantenerme actualizado, con el fin de poder mejorar mis habilidades, para ser un profesional capacitado, eficiente y especializado.
        Soy creativo, me aclimato bien para trabajar en equipo, sociable, emprendedor, responsable, proactivo, organizado.
        Todo mi esfuerzo y dedicación, está orientado a lograr implementar todos mis conocimientos, en el campo laboral tecnológico.</p>

</div>
